.App {
  text-align: center;
}

.header {
  background-color: #0984e3;
  padding: 10px;
  color: white;
}

.data{
  display:flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 20px;
  padding: 10px;
  /* float:left; */
  /* align-items: center; */
}

.btnandemploy{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

.employee{
  color: black;
  background-color: #dfe4ea;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
}